/*General styles*/
.body_dash {
    background-color: #38343c;
}

/*Navbar styles*/
.navbar {
    background-color: #302c34 ;
    z-index: 2; /*Navbar on top of everything*/
}

.navbar-collapse {
    background-color: #302c34 ;
}

.navbar-toggler-icon { /*Hamburger icon color to white*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    font-size: 1.5em; /*Hamburger menu bigger size*/
    margin: 1em;
}

.navbar .navbar-brand,
.navbar .nav-link {
    color: #ffffff ;
}


.navbar-brand {
    height: 30px;
}

.navbar .dropdown-menu {
    background-color: #302c34; /* Adjust color as needed */
    color: #ffffff; /* Adjust color as needed */
    border-radius: 10px; /* Adjust border radius as needed */
}

.navbar .dropdown-item {
    color: #ffffff ;
}

.navbar .dropdown-item:hover,
.navbar .dropdown-item:focus {
    background-color: #38343c ;
    color: #ffffff ;
    border-radius: 10px;
}

.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: #ffffff ;
    background-color: #38343c ;
    border-radius: 10px;
}

.navbar .nav-item .social-media {
    display: flex;
    align-items: center;
}

.navbar .nav-item .social-media a {
    display: inline-block;
    padding: .5rem;
}

.nav-link-bordered:not(:last-child) {
    border-right: 1px solid #000 ; 
}

/*Main styles*/



/*Footer styles*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #38343c;
}

.copyright p {
    margin: 0;
    color: #b3b3b3;
    font-size: 0.6em;
}

/*Social media styles*/
.social-media a {
    margin-left: 1em;
    text-decoration: none;
}

.social-media img {
    width: 24px;
    height: 24px;
}