/*General styles*/

.body_dash {
    background-color: #313338;
}

/*Navbar styles*/
.navbar {
    background-color: #2b2d31;
    z-index: 2; /*Navbar on top of everything*/
}

.navbar-collapse {
    background-color: #2b2d31;
}

.navbar-toggler-icon { /*Hamburger icon color to white*/
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
    font-size: 1.2em; /*Hamburger menu bigger size*/
    margin: 1em; 
}

.navbar-brand {
    height: 30px;
}

.navbar .nav-link {
    color: #80848e;
    margin-right: 10px;
    margin-left: 10px;
}

.navbar .nav-item {
    border-right: 0.5px solid #3b3d43;
}

.navbar .nav-item:last-child {
    border-right: none;
}

.navbar .nav-link[href='#'] {
    color: #dbdee1;
}

.navbar .nav-link:focus,
.navbar .nav-link:hover {
    color: #dbdee1;
    background-color: #35373c;
    border-radius: 5px;
}

a.nav-link[href="login.html"] {
    color: #dbdee1;
    background-color: #6064f4;
    border-radius: 5px;
}

a.nav-link[href="login.html"]:hover {
    background-color: #4854c4;
}

.navbar .nav-item .social-media {
    display: flex;
    align-items: center;
}

.navbar .nav-item .social-media a {
    display: inline-block;
    padding: .5rem;
}

.nav-link-bordered:not(:last-child) {
    border-right: 1px solid #000 ; 
}

.nav-link.active {
    color: #ffffff !important;
    background-color: #404249;
    border-radius: 5px;
}

/*Main styles*/

/*Footer styles*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #313338;
}

/*Social media styles*/
.social-media a {
    margin-left: 1em;
    text-decoration: none;
}

.social-media img {
    width: 24px;
    height: 24px;
    transition: opacity 0.2s ease;
}

.social-media a:hover img {
    opacity: 0.7;
}