body {
    color: white;
}

/*steam api styles*/

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

#gamesList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

body #gamesList div {
    flex-basis: calc(33% - 20px);
    background-color: #333;
    color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

body #gamesList div:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/*youtube api styles*/

.video-card {
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    flex-basis: 25%; 
    box-sizing: border-box; 
}

.video-card img {
    width: 100%;
    height: auto;
}

.video-card a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}



#videoList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}